<div class="my_day">
	<div class="my_list-panel">
		<input type="checkbox" id="day_<%= dayName %>" class="my_dropday-trigger">
		<label class="my_open-label" for="day_<%= dayName %>">
			<div class="my_top-label"></div>
		</label>
		<div class="my_dropdown">
			<div id="task-area-<%= dayName %>" class="my_task-area"></div>
			<label for="day_<%= dayName %>"><div class="my_bottom-label"></div></label>
		</div>
	</div>
	<div class="my_grid">
		<div class="my_hour">
			<div class="my_quater"></div>
			<div class="my_quater"></div>
			<div class="my_quater"></div>
			<div class="my_quater"></div>
		</div>
		<div class="my_hour">
			<div class="my_quater"></div>
			<div class="my_quater"></div>
			<div class="my_quater"></div>
			<div class="my_quater"></div>
		</div>
		<div class="my_hour">
			<div class="my_quater"></div>
			<div class="my_quater"></div>
			<div class="my_quater"></div>
			<div class="my_quater"></div>
		</div>
		<div class="my_hour">
			<div class="my_quater"></div>
			<div class="my_quater"></div>
			<div class="my_quater"></div>
			<div class="my_quater"></div>
		</div>
		<div class="my_hour">
			<div class="my_quater"></div>
			<div class="my_quater"></div>
			<div class="my_quater"></div>
			<div class="my_quater"></div>
		</div>
		<div class="my_hour">
			<div class="my_quater"></div>
			<div class="my_quater"></div>
			<div class="my_quater"></div>
			<div class="my_quater"></div>
		</div>
		<div class="my_hour">
			<div class="my_quater"></div>
			<div class="my_quater"></div>
			<div class="my_quater"></div>
			<div class="my_quater"></div>
		</div>
		<div class="my_hour">
			<div class="my_quater"></div>
			<div class="my_quater"></div>
			<div class="my_quater"></div>
			<div class="my_quater"></div>
		</div>
		<div class="my_hour">
			<div class="my_quater"></div>
			<div class="my_quater"></div>
			<div class="my_quater"></div>
			<div class="my_quater"></div>
		</div>
		<div class="my_hour">
			<div class="my_quater"></div>
			<div class="my_quater"></div>
			<div class="my_quater"></div>
			<div class="my_quater"></div>
		</div>
		<div class="my_hour">
			<div class="my_quater"></div>
			<div class="my_quater"></div>
			<div class="my_quater"></div>
			<div class="my_quater"></div>
		</div>
		<div class="my_hour">
			<div class="my_quater"></div>
			<div class="my_quater"></div>
			<div class="my_quater"></div>
			<div class="my_quater"></div>
		</div>
		<div class="my_hour">
			<div class="my_quater"></div>
			<div class="my_quater"></div>
			<div class="my_quater"></div>
			<div class="my_quater"></div>
		</div>
		<div class="my_hour">
			<div class="my_quater"></div>
			<div class="my_quater"></div>
			<div class="my_quater"></div>
			<div class="my_quater"></div>
		</div>
		<div class="my_hour">
			<div class="my_quater"></div>
			<div class="my_quater"></div>
			<div class="my_quater"></div>
			<div class="my_quater"></div>
		</div>
	</div>
	<div class="my_events"></div>
</div>