<div class="middlePage">
	<table class="table">
		<div class="accordion panel-group" id="accordion">
				<div class="panel panel-primary">
					<button class="btn btn-primary" style="width: 100%" type="button" data-target="#collapse1" data-parent="#accordion" data-toggle="collapse">Zaloguj</button>
					<div id="collapse1" class="panel-colapse collapse">
						<div class="panel-body">
							<div class="well"> <span class="glyphicon glyphicon-ok"></span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, inventore.</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="panel panel-success">
					<button class="btn btn-success" style="width: 100%" type="button" data-target="#collapse2" data-parent="#accordion" data-toggle="collapse">Zarejestruj się</button>
					<div id="collapse2" class="panel-colapse collapse">
						<div class="panel-body">
							<div class="well dimmed"> 
								<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, nam.</div>
							</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="panel panel-warning">
					<button class="btn btn-warning" style="width: 100%" type="button" data-target="#collapse3" data-parent="#accordion" data-toggle="collapse">Kontynuuj jako Anonymous</button>
					<div id="collapse3" class="panel-colapse collapse">
						<div class="panel-body" style="height: 100px">
							<div class="well">Eius ipsa porro non, ea, ullam iusto corporis consequuntur soluta.
							</div>
						</div>
					</div>
				</div>
		</div>
	</table>
</div>